<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>donateplugin</title>
        <title lang="de-DE">Spendenkonfiguration</title>

        <input-field>
            <name>email</name>
            <copyable>true</copyable>
            <label>Spendenwert in %</label>
            <label lang="de-DE">Spendenwert in %</label>
            <placeholder>bspw. 20</placeholder>
            <placeholder lang="de-DE">bspw. 20</placeholder>
            <helpText>Hier bitte den gewünschten Spendenwert in % angeben</helpText>
            <helpText lang="de-DE">Hier bitte den gewünschten Spendenwert in % angeben</helpText>
        </input-field>
    </card>

</config>
